#greeting-page {
    margin-top: 200px;
}

#greeting-page .access-button {
    border: 3px solid #000;
    transition: all 0.5s;
}

#greeting-page .access-button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}